* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
}
.navbar-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 25px;
  background-color: #21222a;
  height: 90px;
}

.navbar-item-block {
  display: flex;
  flex-direction: row;
  /* gap: 15px; */
  padding-left: 25px;
  align-items: center;
}

.navbar-logo-img {
  width: 30px;
  margin-right: 7px;
}

.navbar-logo-title {
  font-size: 22px;
  color: #61dafb;
  margin-right: auto;
  font-weight: 700;
}

.navbar-item-title {
  color: #deebf8;
  font-weight: 600;
}

.main-title {
  color: #deebf8;
  font-weight: 600;
  letter-spacing: -0.05em;
  font-size: 40px;
}

.list-style {
  margin-top: 46px;
  max-width: 400px;
}
.list-style > li {
  line-height: 20px;
  padding-block: 10px;
}
.list-style > li::marker {
  font-size: 1.8rem;
  color: #61dafb;
}

.mainContent {
  background-color: #282d35;
  min-height: 100vh;
  padding: 57px 30px;
  color: white;
  /* background-image: url(./assets/react-icon-large.png);
  background-repeat: no-repeat;
  background-position: right 75%; */
}
